{% extends "inc/base.html" %}

{% block content %}


<form>
  <label for="create-title">Title:</label>
  <input type="create-title" id="create-title" name="create-title" required>
  <label for="create-text">Text:</label>
  <input type="create-text" id="create-text" name="create-text" required>
  <label for="create-tags">Tags:</label>
  <input type="create-tags" id="create-tags" name="create-tags" required>
  <form class="d-flex" role="search">
    <button class="button-ask" type="submit">ASK!</button>
  </form>
</form>


{% endblock content %}
