{% extends "inc/base.html" %}
{% load static %}

{% block content %}

<h1 class="mt-5">Registration</i></h1>
<div class="settings">
    <div class="row">
        <div class="col-5">
            <div class="error-write">
                Sorry, this email address already registred.
            </div>
            <form>
                <label for="login">Login:</label>
                <input type="login" id="login" name="login" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="nickname">Nickname:</label>
                <input type="nickname" id="nickname" name="nickname" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="re-password">Repeat Password:</label>
                <input type="re-password" id="re-password" name="re-password" required>
                
                <label for="upload-avatar">Upload avatar:</label>
                <a href="#">change avatar</a>
                <div class="question-avatar">
                    <img src="..//static/img/avatar1.jpeg" alt="avatar">
                </div>
                
                <button type="save">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}