main > .container {
    padding: 60px 15px 0;
}

.question {
    height: 220px;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.answer {
    height: 220px;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.question-avatar {
    margin-top: 10px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
}

.question-avatar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.question-text {
    margin-bottom: 5%;
}

.popular {
    margin-left: 20px;
    font-size: large;
}

.best-members {
    margin-left: 20px;
}

.b-members {
    width: 10px;
    font-size: large;
    font-style: italic;
}

.login {
    color: white;
}

.top-avatar {
    height: 50px;
    width: 50px;
}

.top-avatar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.like {
    margin-left: 10px;
}

.create-title-left{
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

.create-text-left{
    height: 40px;
    margin-top: 20px;
    text-align: center;
}

.create-tags-left{
    height: 40px;
    margin-top: 20px;
    text-align: center;
    margin-top: 400px;
}

#help {
    max-width: 1px;
}

#create-title {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#create-text{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#create-tags{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

input[type="login"] {
    width: 100%;
    border-radius: 20px;
}

input[type="email"] {
    width: 100%;
    border-radius: 20px;
}

input[type="nickname"] {
    width: 100%;
    border-radius: 20px;
}

input[type="password"] {
    width: 100%;
    border-radius: 20px;
}

input[type="re-password"] {
    width: 100%;
    border-radius: 20px;
}

button[type="save"]{
    margin-top: 20px;
}

button[type="button-to-send-answer"] {
    margin-top: 20px;
    width: 70px;
}

button[type="log-in"]{
    margin-top: 20px;
    width: 70px;
}

.error-write{
    color:red;
    margin: 20px 0 20px 0;
}

